* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Sen', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color:#e9ecef;
}

/*nav {
	  background-color: brown;
	  border-bottom: 0px #6ddcde;
	  height: 4vh;
	  padding-top: 0.3vh;
	  text-align: center;
}




.nav-item {
	  padding: 0px 10px;
	  color: white;
}*/

a:hover {
	background-color: #343A40;
/*	color:white;
	display: inline-block;*/
}

nav {
	background-color: brown;
}

/*SECTION 1*/

#r1c1 {
	height: 50vh;
	text-align: center;
	padding-top: 10vh;
	padding-left: 0;
	padding-right: 0;
	background-image: url(bg1.jpg);
	/*opacity:0.5;*/
	background-size: 160%;
}

	#r1c1box {
		background-color: rgba(90, 90, 90, 0.1);
	}


	#r1c1a {
		border-bottom: 1px solid black;

	}


/*SECTION 2*/

#r1c2 {
	height: 50vh;
	text-align: center;
	padding-top: 5vh;
	padding-left: 0;
	padding-right: 0;
	background-image: url(3d.jpg);
	background-size: 100%;
	background-position-x: 0px;
   	background-position-y: 50%;
}

	#r1c2box {
		background-color: rgba(90, 90, 90, 0.1);
		color:black;

	}


	#r1c2a {
		border-bottom: 1px solid black;

	}

	#r1c2 img {
		justify-content: center;
		padding-top: 0vh;
		height: 10vh;
		width: auto;
	}

/*SECTION 3*/

#r2c1 {
	height: auto;
	text-align: justify;
	font-size:2vh;
	padding-top: 3.75vh;
	color: white;
}

.r2c1list1 {
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	
}

#r2c1resume {
	flex-wrap: nowrap;
}

#r2c1linkedin {
	width: 150px;
}


/*.fa-linkedin {
  background: #007bb5;
  border: 1px solid black;
  color: white;
  height:auto;
}
*/
/*SECTION 4*/

#r3c1 {
	height: 40vh;
/*	text-align: justify;
	font-size:1.8vh;*/	
	padding-top: 10vh;
	padding-left: 10px;
	padding-right: 10px;
	border-right: 2px solid grey;

}

#r3c1a {
	background-color: white;
	color: black;
	/*font-size: 2vh;*/
}

/*#r3c1bcap {
	background-color: rgba(90, 90, 90, 0.3);
}*/

.carousel-inner img {
  margin: auto;
  width: auto;
  height: auto;
}

/*#r3c2a {
	display: inline;
	background-color: brown;
	color: white !important;
}
*/

.r3c2sect1 {
	height: auto;
}

	.r3c2list1 {
		display: flex;
		justify-content: center;
		margin-left: auto;
		margin-right: auto;

		/*when this is too long already, change as follows*/
		/*display: flex;
		justify-content: center;*/
	
	}



.r3c2sect2 {
	height: auto;
}

	.r3c2list2 {
		display: flex;
		justify-content: center;
		flex-wrap: nowrap;
	}



/*SECTION 5*/

#r4c2 {

}

/*SECTION 6*/
footer	{
	background-color: brown;
}