* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif
  ;
}

.container {
  background-color: #eee;
  width: 75%;
  margin: 0 auto;
  padding: 20px;
}

nav, .footer {
  background-color: #fff;
  border-bottom: 5px solid #6ddcde;
  height: 10vh;
  line-height: 10vh;
  text-align: center;
}

.footer {
  border-top: 5px solid#6dccde;
  border-bottom: none;
}

.nav-item {
  display: inline-block;
  padding: 5px 10px;
}

.active {
  background-color:444;
  padding: 5px
  border-radius:10px
}

#contact-footer {
  bottom: 0;
  width: 100%;
}

nav a {
  text-decoration: none;
}

.footer {
  font-family: 'Open Sans', serif;
  text-align: center;
}

.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.section {
  align-items: center;
}

.red-section {
  background-color: red;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.blue-section {
  background-color: blue;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

h2 {
  background-color: orange;
  padding: 15px;
  text-align: center;
}

span {
  padding: 20px 
}

table {
  width: 100%;
  text-align: center;
  background-color: white;
}

header  {
  display: flex;
  justify-content: center;
}

img  {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

